<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Sign in to start your session</h2>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">
        *Enter your email here
      </small>
      <small *ngIf="form.get('email').errors.email">
        *Enter correct email
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
  >
    <label for="password">Login:</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">
        *Enter your password here
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        *Length must be at least {{form.get('password').errors.minlength.requiredLength}} characters
      </small>
      <small *ngIf="form.get('password').errors.pattern">
        *Enter password without spaces
      </small>
    </div>

  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid"
  >Login
  </button>

  <div>
    <a  routerLink="register"
      (click)="registerCall()">Not a member yet? Register here</a>
  </div>

</form>
